body {
    background-image: url("../images/background1.png");
    background-size: cover;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
}

.left-block {
    float: left;
    width: 40%;
}

.right-block {
    float: right;
    width: 55%;
    height: 350px;
    box-sizing: border-box;
}

.left-section {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.right-section {
    float: right;
    width: 50%;
    margin-top: 10px;
}

h1 {
    font-size: 40px;
}

img {
    height: auto;
    width: 100px;
}

span {
    margin: 0px;
}

.header-image {
    width: 55%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.header-text {
    height: 25px;
    width: auto;
}

button {
    background-color: orange;
    position: relative;
    width: 10%;
    left: 45%;
}

#choice, #opponentChoice, #characterHealthDisplay, #opponentHealthDisplay {
    position: relative;
    left: 40%;
}

#imageChoice, #opponentImageChoice {
    position: relative;
    height: 200px;
    width: auto;
    left: 40%;
}

#characterHealthDisplay, #opponentHealthDisplay {
    color: red;
}

.fight {
    text-align: center;
}

#message {
    position: absolute;
    bottom: 10px;
    right: 150px;
    text-shadow: 1px 1px black;
}